<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time, id: :record_time %>
  </div>

  <div class="field">
    <%= form.label :major %>
    <%= form.text_field :major, id: :record_major %>
  </div>

  <div class="field">
    <%= form.label :rssi %>
    <%= form.text_field :rssi, id: :record_rssi %>
  </div>

  <div class="field">
    <%= form.label :device_id %>
    <%= form.text_field :device_id, id: :record_device_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
