<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @record.time %>
</p>

<p>
  <strong>Major:</strong>
  <%= @record.major %>
</p>

<p>
  <strong>Rssi:</strong>
  <%= @record.rssi %>
</p>

<p>
  <strong>Device:</strong>
  <%= @record.device %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
